
.sect-header{
    background-image:url('/static/images/kucing.jpg');
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.sect-profile{
    background-image: url('/static/images/fix.png');
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 150px;
}
.sect-experience{
    background-image: url('/static/images/pink.png');
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 150px;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
.navbarstyle{
    background-color: #D7DBDD;
    color: #34495E;
}
.navfont{
    padding-right: 60px;
    padding-left: 60px;
    
}
body{
    scroll-behavior: smooth;
    font-family: 'Roboto';
    
}

html{
    scroll-behavior: smooth;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    margin: 0;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color:#808B96;
    top: 50px;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}
/* Container around content */
.cont {
    padding: 10px 40px;
    position: relative;
    
}
/* The circles on the timeline */
.cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:#808B96;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
/* Place the container to the right */
.right {
    margin-left: 9.5%;
}
/* Fix the circle for containers on the right side */
.right::after {
    left: -23px;
}
/* The actual content */
.fill {
    padding: 20px 30px;
    position: relative;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot-pink {
    height: 30px;
    width: 30px;
    background-color: #F08080;
    border-radius: 50%;
    display: inline-block;
}
.sect-abilities{
    background-image: url("fix.png");
    background-size: cover;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 150px;
}

.size{
    font-size: 20px;
}
.prof{
   padding-bottom: 30%;
}

#head{
    margin-top: 50%;
}

#text{
    margin-bottom: 50%;
}
h1{
    font-size: 50px; 
    font-style: bold;
    font-family: 'Roboto';
    color: #808B96;
}
h2{
    color: #808B96;
}

img{
    width: 30%;
}
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    #kecil {
      font-size: 65%;

    }
