{% extends "base.html" %}
{% load static %} 
{% block title %}Shafira Ayu Maharani | Abilities{% endblock %} 
   

{% block content %}
          <div class="sect-abilities" id ="abilities">
                <div class="container">
                    <h1 class="text-center title pt-5 pb-5"><br><b>Abilities</b></h1>
                    <div class="row">
                      <div class="col-sm-6" style="padding-left: 15%;">
                        <h2 class="text-left"><b>Skills</b></h2><br>
                        <h4 class="text-left">Python</h4>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot"></span><br>
                        <h4 class="text-left">Java</h4>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot"></span>
                        <span class="dot"></span><br>
                        <h4 class="text-left">HTML</h4>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot"></span>
                        <span class="dot"></span><br>
                        <h4 class="text-left">CSS</h4>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot-pink"></span>
                        <span class="dot"></span>
                        <span class="dot"></span><br>
                        <h4 class="text-left">Ruby</h4>
                        <span class="dot-pink"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span><br>
                      </div>
                      <div class="col-sm-6" style="padding-left: 15%;">
                          <h2 class="text-left"><b>Languages</b></h2><br>
                          <h4 class="text-left">Indonesia</h4>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span><br>
                          <h4 class="text-left">English</h4>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span>
                          <span class="dot-pink"></span>
                          <span class="dot"></span>
                          <span class="dot"></span><br>
                          <h4 class="text-left">Japanesse</h4>
                          <span class="dot-pink"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span><br>
                          <h4 class="text-left">Germany</h4>
                          <span class="dot-pink"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span><br>
                      </div>
                    </div>
                </div>
              </div>
              {% endblock %}

        