<!DOCTYPE html>
{% load static %}
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fira.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color:  #D7DBDD; color: #34495E; font-size: 20px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item navfont">
                <a class="nav-link" href="{% url 'story4:home' %}"><b>HOME</b></a>
                </li>
                <li class="nav-item navfont">
                    <a class="nav-link" href="{% url 'story4:profile' %}"><b>PROFILE</b></a>
                </li>
                <li class="nav-item navfont">
                    <a class="nav-link" href="{% url 'story4:experience' %}"><b>EXPERIENCE</b></a>
                </li>
                <li class="nav-item navfont">
                    <a class="nav-link" href="{% url 'story4:abilities' %}"><b>ABILITIES</b></a>
                </li>
                <li class="nav-item navfont">
                    <a class="nav-link" href="{% url 'story4:contact' %}"><b>CONTACT</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <b>SCHEDULE</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'story4:schedule' %}">Add Schedule</a>
                      <a class="dropdown-item" href="{% url 'story4:view_schedule' %}">See Schedule</a> 
                    </div>
                  </li>
                
               
            </div>
        </nav>
        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>

