{% extends "base.html" %}
{% load static %} 
{% block title %}Shafira Ayu Maharani | Contact{% endblock %} 
   

{% block content %}
          <div class="sect-experience" id="contact">
                <div class="container">
                  <h1 class="text-center title pt-5 pb-5"><br><b>Contact</b></h1>
                  <div class="row size">
                    <div class="col-sm-12 col-md-6" id = "kecil">
                        <div class="text-left">
                          <a href="mailto:a.maharanishafira@gmail.com" target="_blank">
                          <img src="{% static 'images/gmail.png' %}" alt="gmail" class="mr-5" width="30%">
                          <b style="color: black;">a.maharanishafira@gmail.com</b>
                          </a>
                        </div>
                        <div class="text-left mt-5">
                            <a href="https://www.instagram.com/shafirayu_mh" target="_blank">
                            <img src="{% static 'images/instagram.png' %}" alt="instagram" class="mr-5" width="30%">
                            <b style="color: black;">@shafirayu_mh</b>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id = "kecil">
                        <div class="text-left">
                          <a href=https://www.twitter.com/@shafira_ayu12/" target="_blank">
                          <img src="{% static 'images/twitter.png' %}" alt="twitter" class="mr-5" width="30%">
                          <b style="color: black;">@shafira_ayu12</b>
                          </a>
                        </div>
                        <div class="text-left mt-5">
                            <a href="https://www.linkedin.com/in/shafira-ayu-004a78171" target="_blank">
                            <img src="{% static 'images/linkedin.png' %}" alt="linkedin" class="mr-5" width="30%">
                            <b style="color: black;">Shafira Ayu Maharani</b>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endblock %}
         