{% extends "base.html" %}
{% load static %} 
{% block title %}Shafira Ayu Maharani | Experience{% endblock %} 
   

{% block content %}
          <div class="sect-experience" id ="experience">
                <div class="container">
                    <h1 class="text-center title pt-5 pb-5"><br><b>Experience</b></h1>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="text-left"><b>Education</b></h2>
                          <div class="timeline">
                            <div class="cont right">
                              <div class="fill">
                                  <h3 class="text-left">Information System - University of Indonesia</h3>
                                  <h6 class="text-left">August 2018 - Current</h6>
                                  <p class="text-left">The course that I have completed : Math Discrete 1 & 2, Calculus 1, Programming Foundation 1 & 2, Computer Architecture Foundation,  Information System Principles.</p>
    
                              </div>
                            </div>
                            <div class="cont right">
                                <div class="fill">
                                    <h3 class="text-left">Science - 2 Senior High School</h3>
                                    <h6 class="text-left">July 2015 - July 2018</h6>
                                    
                                </div>
                              </div>
                          </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                          <h2 class="text-left"><b>Organization</b></h2>
                            <div class="timeline">
                              <div class="cont right">
                                <div class="fill">
                                  <h3 class="text-left">FUKI - Fasilkom UI</h3>
                                  <h6 class="text-left">Feb 2019 - Current</h6>
                                  <p class="text-left">FUKI (Forum Ukhuwah & Kajian Islam) is Dakwah Institute at Faculty of Computer Science. I became a Public Relation Division Staff.</p>
      
                                </div>
                              </div>
                              <div class="cont right">
                                  <div class="fill">
                                    <h3 class="text-left">SIWAK-NG - Fasilkom UI</h3>
                                    <h6 class="text-left">May 2019 - Current</h6>
                                    <p class="text-left">SIWAK-NG (Studi Islam Awal Tahun Next Generation) is an annual event to welcome Muslim faculty of Computer Science new students. I became Vice Peson In Charge of Public Relation Division.</p>
        
                                  </div>
                                </div>
                                <div class="cont right">
                                    <div class="fill">
                                      <h3 class="text-left">COMPFEST 11 - Fasilkom UI</h3>
                                      <h6 class="text-left">March 2019 - Current</h6>
                                      <p class="text-left">COMPFEST (Computer Festival) is the biggest IT event held by students. I became Staff at Software Engineering Academy.</p>
          
                                    </div>
                                  </div>
                            </div>
                          </div>
                          </div>    
                    </div>
                </div>
            </div>
            {% endblock %}
