{% extends "base.html" %}
{% load static %} 
{% block title %}Shafira Ayu Maharani | Home{% endblock %} 
   

{% block content %}
        <div class="sect-header" id ="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        
                        <h1 class="text-center" id="head" style="color:#34495E;"><b>Hello,<br>I'm Fira!</b></h1>
                        <h2 class="text-center" id="text"  style="color:#34495E;">Let's find out more about me!</h2>
                    </div>    
                </div>
            </div>
        </div>
        {% endblock %}