{% extends "base.html" %}
{% load static %} 
{% block title %}Shafira Ayu Maharani | Profile{% endblock %} 
   

{% block content %}
          <div class="sect-profile" id="profile">
                <div class="container">
                  <h1 class="text-center title pt-5 pb-5"><br><b>Profile</b></h1>
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <h2 class="text-left"><b>About Me</b></h2>
                      <h4 class="text-left">I'm an Information System student in Faculty of Computer Science Universitas Indonesia 2018. I like to study something new and I love to be helpful person for others.</h4>
                    </div>
      
                    <div class="col-sm-12 col-md-4">
                      <!-- Trigger the Modal -->
                      <img src="{% static 'images/foto2.jpg' %}" alt="foto fira"  style ="width :300px; border-radius: 100%;">
                    </div>
      
                    <div class="col-sm-12 col-md-4">
                      <h2 class="text-left"><b>Details</b></h2>
                      <h4 class="text-left">
                        <strong>Name</strong><br>
                          Shafira Ayu Maharani
                          <br><br>
                          <strong>Birth Place</strong><br>
                          Jakarta
                          <br><br>
                          <strong>Birth Date</strong><br>
                          2 March 2000
                          <br><br>
                          <strong>Location</strong><br>
                          Indonesia
                      </h4>
                    </div>
                    
                  </div>
                </div>
              </div>
{% endblock %}
