{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Shafira Ayu Maharani | Edit Schedule{% endblock %} 

{% block content %}
<div class="sect-experience">
    <div class="container">
        <h1 class="text-center title pt-5 pb-5"><br><b>Schedule</b></h1>
        <br>
        <div class="col-md-12 left">
            <a href="{% url 'story4:schedule' %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-outline-dark" style="float: right !important; margin-right: 10px;">➕</button></a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Category</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in sched %}
                    <tr>
                        <td>{{ i.activity }}</td>
                        <td>{{ i.date_time }}</td>
                        <td>{{ i.date_end }}</td>
                        <td>{{ i.location }}</td>
                        <td>{{ i.category }}</td>
                        <td><form action = "/delete/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ i.id }}"> 
                            <button type ="submit"class="btn btn-outline-danger">❌</button>
                          </form></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}
