{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Shafira Ayu Maharani | Add Schedule{% endblock %} 

{% block content %}
<div class="sect-profile">
  <div class="container">
    <h1 class="text-center title pt-5 pb-5"><br><b>Add Schedule</b></h1>
      <form action= "{% url 'story4:add_schedule' %}" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <label>Activity</label>
          <input name="activity" type="text" class="form-control" placeholder="Enter your activity"> 
        </div>
        <div class="form-group">
          <label>Date Time</label>
          <input name="date_time" type="datetime-local" class="form-control" placeholder="Enter your date and time"> 
        </div>
        <div class="form-group">
          <label>Date Time End</label>
          <input name="date_end" type="datetime-local" class="form-control" placeholder="Enter your date and time"> 
        </div>
        <div class="form-group">
          <label>Location</label>
          <input name="location" type="text" class="form-control" placeholder="Enter your location"> 
        </div>
        <div class="form-group">
          <label>Category</label>
          <input name="category" type="text" class="form-control" placeholder="Enter category"> 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      
  </div>
</div>
    
{% endblock %}
